# See http://help.github.com/ignore-files/ for more about ignoring files.

**.bak
**.orig
*.Master
*.cache
*.class
*.map
*.min.*
*.sassc
*.sln
*.swp
*.tar.*
.DS_Store
.bundle
.git
.rspec
.sass-cache
.svn
.tmp
Gemfile.lock
Thumbs.db
assets/*
bower_components
bundle
cache
db/*.sqlite3
db/.password
db/.username
dist
e2e/*.js
e2e/*.map
libs
log/*
node_modules
npm-debug.log
public
publish
tags
test
tests
tmp
uploads
upload
vendor
