/* https://github.com/alanshaw/markdown-pdf/blob/master/html5bp/css/main.css#L242-L244 */
body {
    font-size: 60%;
}

h1 {
  border-bottom: 1px solid;
}
table {
    width: 100%;
    margin-bottom: 10px;
}

table tr, table td {
    border: 1px solid #CBC1C1;
    padding: 4px;
}

pre {
  background-color: #eee;
  margin-bottom: 2rem;
}
code {
  background-color: #eee;
  border-style: none;
  padding: 0
}

